@charset "utf-8";
/* CSS Document */


*{
	font-family: 'Lato', sans-serif;
	box-sizing:border-box;
	color:#565656;
	}
body{
	margin:0 auto;
	border:0;
	width:100%;
	overflow-x:hidden;
}
a {
	text-decoration:none;}
.clear{
	clear:both;}
.hover-a:hover{
	opacity:0.8;
	cursor:pointer;
	transition:.15s ease-in-out;
}
.white-text{
	color:white;}
.blue-text{
	color:#2b2b88;
		}
.blue-bg{
	background-color:#2b2b88;
}
.white-bg{
	background-color:white;}
.light-grey {
    color: #888888;}
.width100{
	width:100%;}
.overflow{
	overflow:hidden;}
.float-left{
	float:left;}
.float-right{
	float:right;}		
.text-center{
	text-align:center;}	
.div-center{
	margin-left:auto;
	margin-right:auto;}
.margin-auto{
	margin-left:auto;
	margin-right:auto;}
.clean:focus{	
	outline: none !important;
	outline-offset: 0  !important;
}
.clean:selected{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean:active{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean::selection {	
	outline: none !important;
	outline-offset: 0  !important;
}
.clean2{
	-webkit-box-shadow:none !important;
	box-shadow:none !important;		
}
.clean2:selected{
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;	
}
.clean2:focus{
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;	
}
.clean2:active{
	outline: none !important;
	outline-offset: 0  !important;	
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.clean2::selection {	
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.pointer:hover{
	cursor:pointer;}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #fafeff inset !important;
}
.text-overflow{
    text-overflow: ellipsis;
    white-space: nowrap;
	overflow:hidden;
}
.height100{
	height:100%;}
/*Start*/
.same-padding{
	padding-left:7.5%;
	padding-right:7.5%;}
.logo-img {
    width: 60px;
}
.big-container-size {
    margin-top: 10px;
}
.padding-left{
	padding-left:7.5%;}
.header1{
    z-index: 2;
	width:100%;
	padding-bottom: 10px;
}
.second-row{
	z-index:-1;}
.menu-padding {
    padding-right: 15px;
}
.red-hover:hover{
	opacity:0.85;
	transition:.15s ease-in-out;
	
}	
.first-left-div {
    margin-top: 180px;
	width:50%;
	padding-right: 5%;
}
.first-right-div {
	width:50%;	
}
.thousand-h1 {
    font-weight: 900;
    font-size: 56px;
	color: black;
}
.gradient-border{
	width:100px;
	height:5px;
	background: -moz-linear-gradient(left, #a9151c 0%, #d60d26 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #a9151c 0%,#d60d26 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #a9151c 0%,#d60d26 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.thousand-p {
    font-size: 36px;
}
.red-text{
	color:#d60d26;}
.third-row {
    margin-top: 50px;
	margin-bottom:150px;
}
.third-row-first-div {
    width: 50%;
}
.third-row-second-div {
    width: 50%;
    padding-left: 5%;
	margin-top: 100px;
}
.thousand-p2{
	font-size:32px;}
.menu-bg {
       background-color: rgba(232, 0, 0, 0.47);
}
.right-menu-div{
	padding-top: 10px;
}
.header1{
	padding-bottom: 10px;
}
.black-text{
	color:black;}
.left-img {
    position: absolute;
    margin-left: -7.5%;
	width: 220px;
}
.right-img {
    position: absolute;
    float: right;
	right:0;
	width: 240px;
    margin-top: 190px;
}
.bulb-img {
    margin-left: auto;
    margin-right: auto;
    width: 120px;
}
.row-4-p {
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.arrow-p {
    text-align: center;
}
.arrow-img {
    width: 50px;
}
.four-row-div {
    overflow: hidden;
    padding-bottom: 200px;
}
.box-img {
    width: 45%;
}
.thousand-h2 {
    font-size: 42px;
    color: black;
	margin-bottom:10px;
}
.thousand-p3 {
    font-size: 24px;
}
.four-div {
    width: 20%;
	margin-bottom: 50px;
}
.small{
	text-align:center;
	margin-top: 0;
    font-size: 21px;
    margin-bottom: 35px;
	}
.four-image {
    width: 40%;
}
.middle-4-div{
	margin-left:5%;
	margin-right:5%;}
.four-box-p {
    font-weight: 700;
    font-size: 27px;
    min-height: 66px;
}
.thousand-h3 {
    font-size: 32px;
    color: black;
}
.add-padding-top{
	padding-top:50px;}
.package-box{
	width:28%;
	-webkit-box-shadow: 3px 3px 15px 2px rgba(196,196,196,0.67);
    box-shadow: 3px 3px 15px 2px rgba(196,196,196,0.67);
	-moz-box-shadow: 3px 3px 15px 2px rgba(196,196,196,0.67);
	float:left;
	overflow:hidden;
	border-radius: 20px;
	min-height: 1550px;
	}
.middle-package-box{
	margin-left:8%;
	margin-right:8%;
	
}
.thousand-h3a {
    font-size: 28px;
}
.color-box{
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:10px;}
.red-box{
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	background: -moz-linear-gradient(left, #a9151c 0%, #d60d26 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #a9151c 0%,#d60d26 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #a9151c 0%,#d60d26 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}
.orange-box{
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	background: -moz-linear-gradient(left, #f7941d 0%, #f4a21e 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #f7941d 0%,#f4a21e 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #f7941d 0%,#f4a21e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}
.golden-box{
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	background: -moz-linear-gradient(left, #bc8b00 0%, #dd9e00 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #bc8b00 0%,#dd9e00 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #fbc8b00 0%,#dd9e00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}
.box-content-div{
	padding:15px;
	min-height:753px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	overflow:hidden;}
.left-icon {
    width: 35px;
}
.right-content{
	width:calc(100% - 35px);
	padding-left:12px;}
.box-p {
    font-size: 24px;
    margin-top: 3px;
    margin-bottom: 0;
}
.one-row{
	margin-bottom:15px;
	clear:both;
	overflow:hidden;}
.ow-gradient-width{
	width:100% !important;
	height:3px !important;}
.coming-p {
    font-size: 36px;
}
.package-img {
    width: 80%;
	margin-top: 150px;
}
.six-row-div {
    padding-top: 100px;
	padding-left:7.5%;
    padding-bottom: 100px;	
}
.left-content {
    width: 50%;
    padding-right: 7.5%;
}
.social-icon {
    width: 40px;
}
.social-icon2{
	margin-left:20px;
}
.right-img-div{
	width:45%;}
.hover-opacity:hover{
	cursor:pointer;
	opacity:0.75;
	transition:.15s ease-in-out;}
.low-weight{
	font-weight:300;}
.contactus-row{
	margin-top:120px;}
.contactus-graphic {
    width: 25%;
}
.contact-us-form {
    width: 50%;
	padding-left: 5%;
    padding-right: 5%;
}
.extra-margin{
	margin-top:25px;
	margin-bottom: 30px;}
.input-name {
    width: 100%;
    font-size: 24px;
    padding: 5px;
	margin-top: 18px;
	border: 2px solid #a9151c;
    border-radius: 8px;
}
.input-message {
    margin-top: 18px;
    width: 100%;
    min-height: 150px;
    border: 2px solid #a9151c;
    border-radius: 8px;
    font-size: 24px;
    padding: 5px;
	margin-bottom: 5px;
}
.radio1 {
    min-height: 50px;
	margin-left:0;
}
.opt-msg {
    width: calc(100% - 17px);
    float: left;
    padding-left: 10px;
}
.input-submit {
    font-size: 24px;
    border: 0;
    background: -moz-linear-gradient(left, #a9151c 0%, #d60d26 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #a9151c 0%,#d60d26 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #a9151c 0%,#d60d26 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 7px;
    padding-top: 3px;
    margin-top: 20px;
    border-radius: 8px;
}
.footer-div{
    background: -moz-linear-gradient(left, #a9151c 0%, #d60d26 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #a9151c 0%,#d60d26 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #a9151c 0%,#d60d26 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */	
}
.footer-p {
    margin: 0;
    padding-bottom: 2px;
}
.red-hover2, .mobile-rocket{
	display:none;}
.mobile-logo{
	display:none;}
.tel-a{
	display:none;}
.content-img {
    bottom: 0;
}
.mobile-contact{
	display:none;}
.purple-tree3{
	display:block;
	position:absolute;
	width:70%;}
.orange-tree3{
	display:block;
	position:absolute;
	width: 80%;}	
.tree3-div{
	position:absolute;
	display:block;}	

.right0{
	right:0;}	
.purple-tree4, .orange-tree4{
	display:none;}
.sky2{
	display:none;}
.subscribe-button {
    background: -moz-linear-gradient(left, #a9151c 0%, #d60d26 100%);
    background: -webkit-linear-gradient(left, #a9151c 0%,#d60d26 100%);
    background: linear-gradient(to right, #a9151c 0%,#d60d26 100%);
    border: 0;
    color: white;
    font-size: 24px;
    padding: 10px 40px;
    border-radius: 30px;
	opacity:0.85;

}
.subscribe-button80{
	 width: 80% !important;}
.subscribe-button:hover {
	opacity:1;
	cursor:pointer;
	
}
.separate-bottom{
	margin-bottom: 30px;
}
.transparent {
    background: transparent !important;
}
/*Modal*/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fafeff;
    margin: 15% auto;
    padding: 30px;
    border: 0;
    width: 80%;
    height: 80vh;
    margin-top: 10vh;
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    right: 10.7vw;
    top: 10vh;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal-left {
    float: left;
    width: 50%;
    height: calc(80vh - 60px);
    overflow-y: auto;
}
.modal-left1 {
    height: calc(70vh - 60px);	
}
.modal-right {
    float: left;
    width: 50%;
	padding-left:30px;
    height: calc(80vh - 60px);
    overflow-y: auto;
}
.modal-right1 {
    height: calc(70vh - 60px);	
}
.input-select {
    border: 0;
}
.inputa {
    background: none;
    width: 100%;
    font-size: 19px;
	border-top: 0;
    border-left: 0;
    border-right: 0;
	border-bottom: 1.5px solid #dadada;
	z-index:2;
	padding-left:35px;
	padding-top: 5px;

}
.input-container {
    overflow: hidden;
    clear: both;
    width: 100%;
    padding-bottom: 30px;
}
.inputa:focus{
	border-bottom:1.5px solid #d21f3c;
	transition:.3s ease-in-out;}
.phone-input:focus .country-code-input{
	border-bottom:1.5px solid #d21f3c;
	transition:.3s ease-in-out;	
}
.focused{
	border-bottom:1.5px solid #d21f3c;
	transition:.3s ease-in-out;}
.red-link{
	color:#d21f3c;}
.red-link:hover{
	cursor:pointer;
	transition:.15s ease-in-out;	
	color:#bf0a30;}
.input-icon {
    width: 25px;
    z-index: 0;
    position: relative;
    float: left;
    margin-top: -28px;
}
.password-input{
	padding-right:45px;}
.ow-icon-eye{
    right: 0;
    margin-top: 0;	
}
.login-form {
    margin-top: 50px;
}
.confirm-btn{
	width: 200px;
    margin-top: 30px;
	padding-top: 8px;	
}
.login-modal1{
    height: 70vh;
    margin-top: 15vh;	
}
.login-close{
	top: 15vh;}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
.ow-icon-eye2 {
    float: right;
    clear: both;
    right: 0;
}
.country-code-input {
    width: 100px;
	float: left;
}
.phone-input {
    float: left;
    width: calc(100% - 100px);
}

.checkbox1 {
    clear: both;
	width:100%;
	overflow: hidden;
}
.checkbox-input {
    vertical-align: baseline;
    position: relative;
    float: left;
    width: 15px;
}
.checkbox-label {
   
    float: left;
    width: calc(98% - 15px);
}
.blog-bg-div{
	background-image:url(../img/thousand-media/pink-blog-bg.png);
	background-size: contain;
    background-repeat: no-repeat;
	background-position:bottom;
	min-height:100vh;
	overflow: hidden;
	}
.big-blog-css{
	padding-bottom:600px;
	display: flex;}
.blog-menu-a:hover{
	color:#d60d26;}
.blog-title{
    padding-top: 100px;
    margin-bottom: 15px;
}
.red-menu:hover{
	color:#d60d26;	
	
	}
.blog-aa {
    float: left;
	font-size: 21px;
	padding-top: 8px;
	font-weight: 600;
	color:#808080;
}
.blog-aa2 {
    float: left;
    margin-left: 20px;
    font-size: 21px;
    width: 130px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 10px;
	color: white;
	border-radius: 10px;
	opacity:0.85;
	font-weight: 600;
}
.blog-aa2:hover{
	opacity:1;
	transition:.15s ease-in-out;}
.blue-div{
	background-color:#0062ff;}
.green-div{
	background-color:#39b54a;}
.purple-div{
	background-color:#93278f;}
.red-div{
	background-color:#d60d26;}
.orange-div{
	background-color:#f15a24;}
.category-button{
	margin-top:30px;
	margin-bottom: 50px;}
.left-blog-div{
	width:50%;
	float:left;
	margin-right:10px;
	background-color: white;
	-webkit-box-shadow: 10px 10px 26px -8px rgba(0,0,0,0.22);
    -moz-box-shadow: 10px 10px 26px -8px rgba(0,0,0,0.22);
    box-shadow: 10px 10px 26px -8px rgba(0,0,0,0.22);}
.one-row-white{
	background-color: white;
	-webkit-box-shadow: 10px 10px 26px -8px rgba(0,0,0,0.22);
    -moz-box-shadow: 10px 10px 26px -8px rgba(0,0,0,0.22);
    box-shadow: 10px 10px 26px -8px rgba(0,0,0,0.22);
	display:flex;

	
}
.promo-bg{
	background-image:url(../img/thousand-media/promotion-banner.jpg);
	background-size:cover;
	background-position: top right;
    background-repeat: no-repeat;}
.planning-bg{
	background-image:url(../img/thousand-media/planning.jpg);
	background-size:cover;
	background-position: center;	
}
.business-bg{
	background-image:url(../img/thousand-media/start-business.jpg);
	background-size:cover;
	background-position: center;
}
.life-bg{
	background-image:url(../img/thousand-media/lifestyle-business.jpg);
	background-size:cover;
	background-position: center;
}
.article-bg{
	background-image:url(../img/thousand-media/article-bg.png);	
	width: 100%;
	background-size: contain;
    padding-bottom: 600px;
}
.middle-white{
	margin-top:25px;
	margin-bottom:25px;}
.right-content2{
	width:50%;}
.right-blog-div{
	width: calc(50% - 30px);
	float:left;
	margin-left:10px;
}
.left-content2{
	width:50%;
	padding:10px;	
	overflow:hidden;}
.big-image-div{
	width:100%;
	}
.big-blog-content {
    padding: 10px;
    overflow: hidden;
}

.blog-date {
    font-size: 14px;
    color: #808080;
}
.blog-article-cat {
    margin-left: 0;
}
.blog-date2 {
    margin: 0;
    font-size: 13px;
}
.blog-title-h3, .blog-title-h2 {
    margin-top: 0;
    margin-bottom: 10px;
	font-weight:700;
}
.blog-title-h3{
	font-size:21px;}
.blog-article-cat {
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 6px;
    width: 90px;
    border-radius: 7px;
}
.hover-turn-red:hover{
	transition:.15s ease-in-out;
	color:#d60d26;
	}
.block-a{
    display: block;
    width: 41%;
    height: 200px;
    position: absolute;
}
.height100{
	height:100%;}
.big-mobile{
	display:none;}
.mobile-right-content{
	display:none;}
.three-in-one-row {
    width: 100%;
	margin-bottom:50px;
	
}
.three-div-content {
    padding: 10px;
    overflow: hidden;
}

.three-one-small-div {
    width: calc(33.3% - 15px);
    margin-right: 15px;
    float: left;
    background-color: white;
	-webkit-box-shadow: 10px 10px 26px -8px rgba(0,0,0,0.22);
    -moz-box-shadow: 10px 10px 26px -8px rgba(0,0,0,0.22);
    box-shadow: 10px 10px 26px -8px rgba(0,0,0,0.22);
	margin-bottom: 50px;
}
.article-padding {
    padding-left: 15%;
    padding-right: 15%;
}
.article-cat {
    margin-left: 0 !important;
    margin-top: 20px;
    margin-bottom: 50px;
}
.article-date{
	font-size:15px;
	color: #808080;}
.article-p {
    font-size: 22px;
}
.article-content{
	padding-bottom:80px;}
.blog-title3 {
    font-size: 32px !important;
    float: left;
    margin-top: 0;
}
.white-button {
    float: right;
    margin-right: 20px;
    font-size: 21px;
    color: #b5b5b5;
    padding: 10px 20px;
    border: 0;
    border-radius: 25px;
    padding-top: 8px;
	-webkit-box-shadow: 0px 0px 6px 2px rgba(183,183,183,0.44); 
	box-shadow: 0px 0px 6px 2px rgba(183,183,183,0.44);
	background-color:white;}
.white-button:hover{
	color:white;
	background-color:#d60d26;
	transition:.15s ease-in-out;}
.article-title {
    font-size: 42px !important;
}
.small-mtop {
    margin-top: 35px;
}
.mtop-50{
	padding-top:50px;}
.margin-top-0{
	margin-top:0;
	padding-top:0;}
.new-section-divider {
	height:150px;}
.title-content-divider{
	height:50px;}
.white-box-shadow{
	padding:25px;
	-webkit-box-shadow: 3px 3px 15px 2px rgba(196,196,196,0.67); 
	box-shadow: 3px 3px 15px 2px rgba(196,196,196,0.67);
	border-radius: 25px;}
.content-part {
    padding-left: 50px;
}
.profile-box-title {
    font-size: 27px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 20px;
}
.box-table {
    width: 100%;
}
.content-part {
    padding-left: 50px;
    width: calc(100% - 400px);
}
.box-table td{
	font-size:21px;
	color: grey;
	padding-bottom: 15px;}
.bold-td{
	font-weight:600;
	color:black !important;}
.first-td {
    width: 250px;
}
.second-td {
    width: 35px;
}
.pay-img {
    margin-top: 35px;
}
.grey-button{
	background: grey;}
.mtop-0{
	padding-top:0 !important;
	margin-top:0 !important;}
/*Overwrite*/
.ow-padding-bottom{
	padding-bottom:30px !important;}
.float-none{
	float:none !important;}
.ow-margin-bottom{
	margin-bottom:15px;	
}
.margin-left-0{
	margin-left:0 !important;}
.check-p {
    font-weight: 600;
    font-size: 32px;
    text-decoration: underline;
}
.width115{
	width:115%;}
.tran-table{
	border-collapse: collapse;}
.tran-table th{
	color:#a0a0a0;
	font-size:21px;
	padding-bottom:15px;
	text-align: left;
    font-weight: 400;
	border-bottom: 1px solid #d60d26;}
.top-td{
	padding-top:15px;}
.tran-table td{
	color:#212121;}
.tran-table td, .tran-table th {
	padding-right:8px;
	vertical-align: top;}
.table-input {
    padding-left: 5px;
}
.input-table {
    padding-bottom: 15px;
}
.mh100{
	min-height:calc(100vh - 21px);}
.input-table td, .table-input{
	font-size:21px !important;}
select.table-input{
	padding-left:0;}
.dashboard-middle-pack{
	margin-left:7% !important;
	margin-right:7% !important;}
.animated{
	-webkit-box-shadow: 0px 3px 9px 1px rgba(227,227,227,0.52); 
	box-shadow: 0px 3px 9px 1px rgba(227,227,227,0.52);
	-moz-box-shadow: 0px 3px 9px 1px rgba(227,227,227,0.52);}
.four-div-mh {
    min-height: 300px;
}
@media all and (max-width: 1620px){	
.box-content-div{
	min-height:780px;
	
}

}
@media all and (max-width: 1600px){	
.input-name{
	font-size: 21px;
}
}
@media all and (max-width: 1556px){	
.footer-div{
	margin-top:0;}
.mobile-contact{
	display:block;}
.web-contact{
	display:none;}

}


@media all and (max-width: 1500px){	
.thousand-h1{
	font-size: 48px;
}
.thousand-p {
    font-size: 30px;
}
.thousand-p2 {
    font-size: 27px;
}
.orange-tree {
    margin-top: 82px;
    bottom: 0;
}
.big-blog-css {
    padding-bottom: 480px;}
}
@media all and (max-width: 1470px){	
.box-content-div {
    min-height: 800px;
}

}
@media all and (max-width: 1440px){	


}
@media all and (max-width: 1430px){	
.left-blog-div {
    width: 40%;}
.right-blog-div {
    width: calc(60% - 30px);}

}
@media all and (max-width: 1400px){	
.thousand-h2 {
    font-size: 36px;}
.thousand-h3 {
    font-size: 28px;
    margin-bottom: 20px;}
.left-icon {
    width: 30px;
}	
.right-content {
    width: calc(100% - 30px);}
.box-p {
    font-size: 21px;}
.ow-gradient-width {
    height: 2px !important;
}
.box-content-div {
    min-height: 750px;
}
.thousand-h3a {
    font-size: 24px;
}
.coming-p {
    font-size: 32px;
}

.blog-title3 {
    font-size: 27px !important;}
.white-button{
    font-size: 18px;	
}
.package-box{
	min-height: 1420px;}
}

@media all and (max-width: 1375px){	
.purple-tree3, .orange-tree3{
	width: 100%;
}


}
@media all and (max-width: 1360px){	
.left-img{
	width:190px;
	}
.right-img{
	width:190px;	
}

.thousand-h2 {
    font-size: 32px;}
.thousand-p3 {
    font-size: 21px;
}
.four-box-p{
    font-size: 23px;	
}

}

@media all and (max-width: 1300px){	
.article-title {
    font-size: 34px !important;
}
.article-padding {
    padding-left: 10%;
    padding-right: 10%;
}
}

@media all and (max-width: 1280px){	
.blog-bg-div{
    background-size: contain;	
}

}

@media all and (max-width: 1250px){	
.red-hover{
	color:#cacaca;	
}
.menu-bg {
    background-color: rgb(255, 255, 255);
}
.third-row-second-div {
   margin-top: 50px;}
.modal-right{
	padding-top: 20px;	
} 
.modal-left1{
	padding-top: 30px;		
} 
.blog-menu-a{
	color:#565656;
}
}
@media all and (max-width: 1225px){
.package-box {
    width: 31%;}
.middle-package-box {
    margin-left: 3.5%;
    margin-right: 3.5%;
}	
.dashboard-middle-pack {
    margin-left: 2.7% !important;
    margin-right: 2.7% !important;
}
}

@media all and (max-width: 1200px){	
.thousand-h1{
	font-size: 42px;
	margin-top: 0;
}
.thousand-p {
    font-size: 27px;
}
.thousand-p2 {
    font-size: 24px;
}
.gradient-border {
    width: 70px;}
.right-img{
	margin-top: 130px;}
.left-img {
    width: 170px;
}
.arrow-img {
    width: 30px;
}
.big-blog-css {
    padding-bottom: 380px;
}
.article-p {
    font-size: 20px;
}
.check-p {
    font-size: 27px;}
.tran-table td, .tran-table th{
	font-size:16px !important;}
.title-content-divider {
    height: 30px;
}
.new-section-divider {
    height: 100px;
}
.input-table td, .table-input{
	font-size:16px !important;}
select.table-input{
	padding-left:0 !important;}	
.table-eye{
	width: 18px;
	margin-top: -18px;
}
}
@media all and (max-width: 1155px){	
.input-name {
    font-size: 18px;
	margin-top: 12px;
}
.input-message{
	margin-top: 12px;
	font-size: 18px;
}
.input-submit {
    font-size: 21px;}
}
@media all and (max-width: 1150px){	
.left-blog-div {
    width: calc(100% - 15px);
	margin-right: 0;
	clear: both;
    margin-bottom: 50px;
	display: flex;
}
.big-blog-css{
	display: block;	
}
.big-image-div {
    width: 50%;
    float: none;
}
.right-blog-div {
    width: calc(100% - 15px);
    float: none;
    margin-left: 0;
    clear: both;
}
.blog-title-h3, .blog-title-h2 {
	font-size: 21px;	
}
.blog-date, .blog-date2 {
    font-size: 13px;}
.big-image-bg{
	background-image:url(../img/thousand-media/online-marketing.jpg);
	background-size:cover;
	background-position: center;}
.big-web{
	display:none;}
.big-mobile{
	display:block;}
.middle-white {
    margin-top: 0;
    margin-bottom: 50px;
}
.big-blog-css {
    padding-bottom: 380px;}
.one-row-white{
	margin-bottom:50px;}
.blog-aa2 {
    font-size: 16px;
    width: 110px;}
.big-blog-content {
    width: 50%;
}
.web-right-content{
	display:none;}
.mobile-right-content{
	display:inline-block;}
.article-bg{
    padding-bottom: 400px;	
}
}
@media all and (max-width: 1130px){	
.contact-us-form{
	padding-bottom: 60px;
}

}
@media all and (max-width: 1120px){	
.box-content-div {
    min-height: 770px;
}

}
@media all and (max-width: 1105px){
.box-content-div {
    min-height: 925px;
}
.package-box {
    min-height: 1530px;
}
}
@media all and (max-width: 1100px){	
.four-image {
    width: 50%;
}
.box-table td {
    font-size: 18px;}
.profile-box-title {
    font-size: 24px;}
.pay-img {
    margin-top: 75px;
    width: 50px;
}
.content-part {
    padding-left: 35px;
    width: calc(100% - 300px);
}
}

@media all and (max-width: 1030px){
.sky1-right {
    margin-top: 230px;
}
.checkbox-label {
    width: calc(95% - 15px);
}
}
@media all and (max-width: 1015px){	
.purple-tree3, .orange-tree3 {
    display: none;
}
.purple-tree4, .orange-tree4 {
    display: block;
    position: absolute;
	width: 85%;
}
.right-img {
    margin-top: 170px;
	width: 140px;
}
}
@media all and (max-width: 1000px){	
.first-left-div {
    margin-top: 140px;}	
.thousand-h1 {
    font-size: 36px;}
.gradient-border {
    width: 60px;}
.thousand-p {
    font-size: 24px;
	word-spacing: 4px;
}
.left-img {
    width: 120px;
}
.right-img {
    margin-top: 170px;
    width: 120px;
}
.article-p {
    font-size: 20px;
}
}
@media all and (max-width: 990px){
.package-box {
    min-height: 1660px;
}
}
@media all and (max-width: 970px){
.third-row-second-div {
    margin-top: 0;
}	
	
}

@media all and (max-width: 950px){
.new-section-divider {
    height: 70px;
}
}
@media all and (max-width: 940px){
.color-box .thousand-h3a {
    font-size: 21px;
}

}
@media all and (max-width: 930px){
.blog-aa2 {
    font-size: 14px;
    width: 80px;
    border-radius: 5px;
    margin-left: 10px;
}
.blog-article-cat{
	margin-left:0;}
.img-div {
    display: none;
}
.content-part {
    padding-left: 0;}
}
@media all and (max-width: 925px){
.package-box {
    min-height: 1760px;
}

}
@media all and (max-width: 900px){
.thousand-h2 {
    font-size: 27px;
}
.thousand-p3 {
    font-size: 18px;
}
.four-box-p {
    font-size: 19px;
}
.thousand-h3 {
    font-size: 24px;}
.contact-p {
    font-size: 18px;
    word-break: break-word;
}	
.web-span{
	display:none;}
.tel-a{
	display:block;
	color:#d60d26;}	
.small{
	font-size: 14px;
    margin-bottom: 25px;
	}
.right-img {
    margin-top: 200px;
    width: 70px;
}
.four-div-mh {
    min-height: 200px;
	margin-bottom: 10px;
}
}
@media all and (max-width: 880px){
.tran-table td, .tran-table th {
    font-size: 14px !important;
}

}
@media all and (max-width: 875px){
.package-box {
    width: 80%;
    float: none;
    margin-left: auto;
    margin-right: auto;
    min-height: 0;
}
.box-content-div{
    min-height: 0;	
	}
.package-box{
	border: 1px solid #e4e4e4;
    border-radius: 25px;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.middle-package-box{
	margin-top: 30px;
    margin-bottom: 30px;
}
.package-img {
    width: 30%;
    margin-top: 20px;
}
.coming-p {
    font-size: 27px;
}
.dashboard-middle-pack {
    margin-left: auto !important;
    margin-right: auto !important;
}
}


@media all and (max-width: 860px){
.left-content{
	padding-right: 3.5%;
}
.contactus-row {
    margin-top: 20px;
}
.article-padding {
    padding-left: 5%;
    padding-right: 5%;
}
}
@media all and (max-width: 850px){
.first-left-div {
    margin-top: 90px;
}
.thousand-h1 {
    font-size: 28px;
    margin-bottom: 10px;
}
.first-right-div {
    width: 60%;
}
.thousand-p {
    font-size: 21px;
    word-spacing: 4px;
}
.first-left-div{
	width:40%;}
.first-left-div {
    margin-top: 130px;
}
.modal-left {
    float: left;
    width: 50%;
    margin-left: 25%;
    height: auto;
	overflow-y: inherit;}
.login-modal1 {
    height: 80vh;
    margin-top: 10vh;
}
.login-close {
    top: 10vh;
}
.modal-right {
    float: left;
    width: 80%;
    margin-left: 10%;
    padding-left: 0;
    height: auto;
    overflow-y: inherit;
	text-align: center;}
.modal-right form{
	text-align:left;}
.login-form {
    margin-top: 35px;
}
.last-input-container{
	padding-bottom:15px;	
}
.confirm-btn{
    margin-left: calc(50% - 100px);	
}
.ow-icon-eye2 {
    float: right;
    clear: both;
}
.modal-content{
    overflow-y: auto;	
}
.forgot-p{
	text-align:center;}
.blog-aa {
    font-size: 18px;}
.big-blog-css {
    padding-bottom: 220px;
}
.article-bg {
    padding-bottom: 280px;
}
.check-p {
    font-size: 24px;}
.input-confirm{
	margin-left:0 !important;}
}
@media all and (max-width: 840px){
.purple-tree4, .orange-tree4 {
	width: 100%;
}
.contact2-p{
	font-size: 18px;
}
}
@media all and (max-width: 800px){
.four-div {
    width: 45%;
	margin-bottom: 40px;
}
.four-image {
    width: 40%;
}
.middle-4-div {
    margin-left: auto;
    margin-right: auto;
}
.four-second-div {
    margin-left: 10%;
}
.same-padding {
    padding-left: 4.5%;
    padding-right: 4.5%;
}
.four-box-p{
    min-height: 50px;
	margin-bottom: 0;	
}
.empty-div{
	display:none;}
.ow-margin1{
	margin-left:0;
	margin-right:10%;}
.six-row-div{
	padding-left: 4.5%;
}
.left-content {
    padding-right: 0;
}
.three-middle {
    margin-left: 0;
    margin-right: 0;
}
.three-one-small-div {
    width: calc(50% - 20px);
	margin-right: 20px;}
.white-button{
	padding-bottom:6px;
	padding-top:5px;
	
}
.blog-title3{
    margin-bottom: 20px !important;	
}
.check-p {
    font-size: 21px;}
}
@media all and (max-width: 780px){
.thousand-h2 {
    font-size: 24px;
}
.thousand-p3 {
    font-size: 16px;
}
.four-box-p {
    font-size: 17px;
}
}
@media all and (max-width: 750px){
.sky2{
	display:block;
	width: 85%;}
.sky1{
	display:none;}
.contact2-p{
	word-break: break-word;
}
.profile-box-title {
    font-size: 21px;}
.box-table td {
    font-size: 17px;}
.first-td {
    width: 180px;
}
.content-part{
    width: calc(100% - 80px);	
	}
}
@media all and (max-width: 740px){
.article-padding {
    padding-left: 7.5%;
    padding-right: 7.5%;
}
.article-title {
    font-size: 30px !important;
}
}
@media all and (max-width: 735px){
.contact2-p {
    font-size: 15px;
}	


}
@media all and (max-width: 720px){
.thousand-h1 {
    font-size: 24px;}	
.gradient-border {
    width: 40px;
    height: 3px;
}
.thousand-p {
    font-size: 18px;
    word-spacing: 3px;
}	
.thousand-p2 {
    font-size: 18px;
    margin-top: 40px;
}
.third-row-second-div {
    width: 100%;
    float: none;
}

.third-row-first-div{
    width: 100%;
    float: none;	
}
.third-row-second-div {
    width: 70%;
    float: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.second-gradient{
	text-align:center;
	margin-left:auto;
	margin-right:auto;}
.row-4-p {

    width: 65%;}
.arrow-img {
    width: 20px;
}
.third-row{
	margin-bottom: 100px;}
.check-p {
    font-size: 18px;
}
}
@media all and (max-width: 700px){
.big-blog-css {
    padding-bottom: 200px;
}
.blog-aa2{
	margin-bottom: 10px;}
.article-p {
    font-size: 17px;
}
.blog-menu-a{
	font-size: 12px;
}
}
@media all and (max-width: 680px){
.sky2a {
    margin-top: 200px;
}	
	
}
@media all and (max-width: 670px){
.gift-h2 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


}
@media all and (max-width: 660px){
.first-left-div {
    margin-top: 100px;
}	
.thousand-h1 {
    font-size: 21px;
}
.thousand-p {
    font-size: 17px;}
}
@media all and (max-width: 650px){
.category-div {
    width: 110px;
    float: left;
}
.category-div-button {
    float: left;
    width: calc(100% - 110px);
}
.left-blog-div {
    width: calc(100% - 10px);}
.right-blog-div {
    width: calc(100% - 10px);}
.big-image-div {
    width: 40%;}
.big-blog-content {
    width: 60%;
}
.left-content2 {
    width: 60%;}
.right-content2 {
    width: 40%;
}

}
@media all and (max-width: 640px){
.second-right-img {
    width: 80px;
}
.contact-us-form {
    padding-left: 10px;
    padding-right: 10px;
}
.input-name {
    font-size: 16px;
    margin-top: 8px;
}
.input-message {
    margin-top: 8px;
    font-size: 16px;
}

.logo-img {
    width: 50px;
}	
.red-hover{
	font-size: 12px;
	padding-right: 7px;
}
.right-menu-div {
    padding-top: 5px;
}
.four-row-div{
	padding-bottom: 100px;
}
}
@media all and (max-width: 625px){
.coming-p {
    font-size: 21px;
}
.left-content {
    padding-right: 0;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    float: none;
}
.six-row-div{
	padding-right: 4.5%;
}
.right-img-div {
    width: 55%;
    margin-right: -4.8%;
    margin-top: -75px;
}
.left-blog-div, .one-row-white{
	display:block;}
.big-image-div, .right-content2 {
    width: 100%;
}
.big-blog-content, .left-content2 {
    width: 100%;
}
.one-row-white {
    overflow: hidden;
}
.three-one-small-div {
    width: calc(100% - 20px);
    margin-right: 20px;
}
.left-content3{
	margin-left:0 !important;
	width: 85% !important;}
}
@media all and (max-width: 600px){
.article-padding {
    padding-left: 0;
    padding-right: 0;
}	
}
@media all and (max-width: 580px){
.left-img {
    width: 90px;
}
.bulb-img{
	width: 90px;
}
.second-right-img {
    width: 50px !important;
}
.left-content{
	width:90%;}
.six-row-div {
    padding-top: 50px;}
.right-img-div {
    margin-top: -110px;
}
.blog-title-h3, .blog-title-h2 {
    font-size: 16px;
}
.blog-date, .blog-date2 {
    font-size: 12px;
}
.blog-desc {
    font-size: 14px;
}
.article-title {
    font-size: 25px !important;
}
}
@media all and (max-width: 570px){
.big-blog-css {
    padding-bottom: 130px;
}
}
@media all and (max-width: 550px){
.thousand-h1 {
    font-size: 20px;
	color:white
}
.first-left-div {
    margin-top: 80px;
}
.thousand-p {
    font-size: 16px;
}
.first-right-div{
	float:none;
	width:100%;
	top:0;}
.mobile-rocket{
	display:block;}
.web-rocket{
	display:none;}
.first-left-div {
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: absolute;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 80px;
}
.first-div-gradient{
	margin-left:auto;
	margin-right:auto;}
.first-div-p{
	color:white;
	margin-top:10px}
.first-div-b{
	color:white;}
.red-hover{
	color:white;}
.mobile-logo{
	display:inline-block;}
.web-logo{
	display:none;}
.menu-bg{
	background: -moz-linear-gradient(left, #a9151c 0%, #d60d26 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #a9151c 0%,#d60d26 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #a9151c 0%,#d60d26 100%);
	
	}
.row-4-p{
	margin-top:0;}
.modal-left {
    width: 70%;
    margin-left: 15%;
    padding-top: 10px;}
.modal-right {
    width: 100%;
    margin-left: 0;
    padding-left: 0;}
.confirm-btn {
    width: 100%;
	margin-left:0;
    font-size: 18px;}
.ow-icon-eye {
    right: calc(11vw + 30px);
}

.blog-menu-a{
	color:#565656;}	
.blog-title {
    color: #565656;
	text-align:left;
}
.blog-gradient {
    margin-left: 0;
}
.blog-title3{
	color:#565656;	
}
.check-link {
    color: white;
}
.check-link:hover {
    color: white;
	opacity:0.85;
}
.input-table td, .table-input {
    font-size: 14px !important;
}
.input-checkbox{
	font-size:14px;}
}
@media all and (max-width: 540px){
.contact2-p {
    font-size: 14px !important;
}
.contact-right-content {
   width: calc(100% - 20px);
}
.contact-icon{
	width: 20px;
}
.contactus-graphic {
    width: 20%;
}
.contact-us-form {
    padding-left: 30px;
    padding-right: 30px;
    width: 60%;
}
.sky2{
	width:100%;}
.sky2a {
    margin-top: 350px;
}
}
@media all and (max-width: 535px){
.second-right-img{
	margin-top:100px !important;}	
	
}
@media all and (max-width: 530px){
.third-row {
    margin-bottom: 70px;
}	
	
}

@media all and (max-width: 520px){
.blog-menu-a {
    display: none;
}
.blog-menu-a2 {
    display: inline-block;
}
.menu-img {
    width: 30px;
}	
}


@media all and (max-width: 500px){
.right-img {
    margin-top: 190px;
    width: 70px;
}
.opt-msg{
	font-size: 14px;
}
.input-submit {
    font-size: 18px;
}
.footer-p{
	font-size: 14px;
}
.box-p {
    font-size: 18px;
}
.close{
	font-size:40px;}
.article-p {
    font-size: 16px;
}
.article-date {
    font-size: 13px;}
.tran-table td, .tran-table th {
    font-size: 13px !important;
}
}
@media all and (max-width: 485px){
.article-last-cat{
	margin-left:0 !important;
	clear:both;}


}
@media all and (max-width: 480px){
.red-hover{
	display:none;	
}	
.red-hover2{
	display:inline-block;	
}
.menu-img {
    width: 25px;
}	
.right-menu-div {
    padding-top: 0;
}

.article-bg {
    padding-bottom: 160px;
}
.profile-box-title {
    font-size: 18px;
}
.box-table td {
    font-size: 15px;
	padding-bottom: 10px;
}
.first-td, .second-td {
    width: auto;
}
.pay-img {
    margin-top: 65px;
    width: 35px;
}
.content-part {
    width: calc(100% - 55px);
}
.white-box-shadow {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.four-div-mh {
    min-height: 150px;}
}
@media all and (max-width: 470px){

.thousand-h1 {
    font-size: 18px;
}	
.gradient-border {
    width: 25px;
    height: 3px;
}
.thousand-p {
    font-size: 15px;
}	
.blog-aa {
    font-size: 16px;
}
.category-div {
    width: 90px;}
.category-div-button {
    float: left;
    width: calc(100% - 90px);
}
}

@media all and (max-width: 455px){
.special-m-height{
	min-height:63px;}


}
@media all and (max-width: 450px){
.right-img-div {
    margin-top: -80px;
	width: 60%;
}
.ad-mh{
	min-height:63px;}
.six-row-div{
	padding-bottom: 30px;
}
.input-name, .input-message {
    font-size: 14px;}
.thousand-h2 {
    font-size: 21px;
}	
.article-title {
    font-size: 22px !important;
}
.blog-title3 {
    font-size: 21px !important;
	margin-bottom: 15px !important;}
.white-button {
    font-size: 16px;
}
}
@media all and (max-width: 440px){

.thousand-h2 {
    font-size: 21px;
}	
.second-right-img {
    margin-top: 55px !important;
}
.box-img {
    width: 85%;
}
.second-left-img {
    width: 60px;
}
.second-right-img {
    margin-top: 185px !important;
	width: 40px !important;
}
.blog-menu-img {
    width: 20px;
    margin-top: 5px;
}
.input-table td, .table-input {
    font-size: 13px !important;
}
select.table-input{
	font-size:13px !important;}
.input-checkbox {
    font-size: 13px;
}
}

@media all and (max-width: 425px){
.thousand-h3a {
    font-size: 21px;
}
.box-p {
    font-size: 18px;
}
.package-box {
    width: 100%;}
}
@media all and (max-width: 420px){
.input-submit{
	width:100%;}	

}
@media all and (max-width: 400px){
.thousand-p2 {
    font-size: 16px;}
.arrow-p {
    margin-top: 0;
}
.left-img {
    width: 70px;
}
.arrow-img {
    width: 15px;
}
.second-left-img {
    width: 40px !important;
}
.second-right-img {
    margin-top: 175px !important;
    width: 25px !important;
}
.thousand-h3 {
    font-size: 21px;
    margin-bottom: 15px;
}
.contactus-graphic {
    width: 15%;
}
.contact-us-form{
	width: 70%;
}
.article-p {
    font-size: 16px;
}
}
@media all and (max-width: 390px){
.special-m-height {
    min-height: 84px;
}	
.big-blog-css {
    padding-bottom: 80px;
}	
}
@media all and (max-width: 385px){
.article-second-last{
	clear:both;
	margin-left:0 !important;}	
.article-last-cat{
	clear:none;
	margin-left:10px !important;}
	
}

@media all and (max-width: 380px){
.logo-img {
    width: 35px;
}
.blog-menu-img {
    width: 17px;
    margin-top: 2px;
}
}


@media all and (max-width: 360px){
.contact-p{
    font-size: 16px;	
}
.contact-left-icon{
	width:25px;}
.blog-menu-a2{
	padding-right:10px;}
.article-title {
    font-size: 20px !important;
}
}
@media all and (max-width: 350px){
.blog-title3 {
    font-size: 19px !important;}
.white-button {
    font-size: 14px;
}
}
@media all and (max-width: 330px){
.contact-p {
    font-size: 14px;
}
.logo-img {
    width: 35px;
}
.menu-padding {
    padding-right: 11px;
}
}
@media all and (max-width: 320px){
.blog-aa2 {
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 7px;}	
	
}